
.inputs
{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#campo_longitud
{
    width: 40%;
    height: 30%;
    border-radius: 30px;
        margin: 5px;

}

#campo_latitud
{
    width: 40%;
    height: 30%;
    border-radius: 30px;
        margin: 5px;

}

button
{
    border-radius: 30px;
    height: 30%;
    width: 7%;
    margin: 10px;
    z-index: 1;
}